{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Jumbotron-->
<div class="container jumbotron d-flex align-items-center justify-content-center">
    <div class="jumbotron-content">
        <h1 class="text-center">Hand-made sustainable woollen products</h1>
        <h4 class="text-center">with Nordic inspired design</h4>
        <a class="btn button-paper text-uppercase" href="{% url 'products' %}" role="button">View Products</a>
    </div>
    <div class="row text-center">
        <a href="#about-us" class="text-decoration-none jumbotron-arrow">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</div>
<div class="container about-container" id="about-us">
    <div class="row d-flex justify-content-center">
        <div class="col-2 text-center"><img src="{{ MEDIA_URL}}ball-of-wool-1.png" class="wool-icon"  aria-hidden="true" alt="drawn image of a ball of wool"></div>
        <div class="col-2 text-center"><img src="{{ MEDIA_URL}}ball-of-wool-2.png" class="wool-icon"  aria-hidden="true" alt="drawn image of a ball of wool"></div>
        <div class="col-2 text-center"><img src="{{ MEDIA_URL}}ball-of-wool-3.png" class="wool-icon"  aria-hidden="true" alt="drawn image of a ball of wool"></div>
    </div>
    <h3 class="text-center pb-3">Why choose us?</h3>
    <p class="text-center">Our Nordic-style woolen products are sustainably and ethically made from 100% natural, renewable wool, which is biodegradable and has a low carbon footprint. 
       Sourced from responsible farms that prioritize animal welfare, our wool is produced with minimal environmental impact and without harmful chemicals. 
       Wool's natural insulating properties ensure long-lasting durability, reducing the need for frequent replacements and contributing to a more sustainable, 
       waste-free lifestyle. Additionally, wool can be recycled and repurposed, supporting a circular economy. By choosing our woolen products, 
       you are supporting ethical practices, quality craftsmanship, and a greener future. 
       We are committed to recycling and repurposing wool by transforming offcuts and pre-loved garments into new, high-quality products. 
       This process helps reduce textile waste and contributes to a more sustainable production cycle.
    </p>
    <div class="row text-center">
        <h5 class="mb-3">Learn more about Wool Sustainability:</h5>
        <div class="col-12 col-sm-6">
            <a href="https://iwto.org/sustainability/" target="_blank" rel="nofollow">
                <img src="{{ MEDIA_URL }}iwto-logo.webp" alt="International Wool Textile Organisation logo">
            </a>
        </div>
        <div class="col-12 col-sm-6">
            <a href="https://www.woolmark.com/industry/sustainability/recycled-wool-the-ultimate-circular-solution/" target="_blank" rel="nofollow">
                <img src="{{ MEDIA_URL }}woolmark-logo.png" alt="Woolmark logo">
            </a>
        </div>
    </div>
</div>
<!-- Featured products -->
<div class="product-container mt-5">
    <h3 class="text-center pt-5">Featured Products</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 d-flex justify-content-center text-center">
        <!-- Display maximum of three featured items -->
        {% for product in featured_products %}
            <div class="col mt-5 d-flex justify-content-center">
                <div class="card h-50 w-50">
                    {% if product.on_sale %}
                        <!-- On sale badge -->
                        <div class="badge bg-light text-dark">Sale</div>
                    {% endif %}
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body pb-1 bg-white">
                        <p class="mb-0">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                {% if product.on_sale %}
                                    <p class="lead mb-0 pb-1 text-left font-weight-bold"><s>£{{ product.price }}</s> £{{ product.sale_price }}</p>
                                {% else %}
                                    <p class="lead mb-0 pb-1 text-left font-weight-bold">£{{ product.price }}</p>
                                {% endif %}
                                {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}