{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="mb-4">My profile</h2>
                <hr>
            </div>
        </div>
        <!-- Display Wishlist if user has added items -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 mb-5 mx-5 p-4">
                <h6 class="mb-4">Wishlist</h6>
                    {% if wishlist %}
                    {% for item in wishlist %}
                        <div class="row d-flex align-items-center">
                            <div class="d-none d-sm-block col-2 mb-1">
                                <a href="{% url 'product_detail' item.wished_product.id %}">
                                    {% if item.wished_product.image %}
                                        <img class="w-100" src="{{ item.wished_product.image.url }}" alt="{{ wished_product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}no-image.png" alt="{{ wished_product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-5 fw-bold">
                                <a href="{% url 'product_detail' item.wished_product.id %}" class="text-decoration-none text-link d-sm-none">
                                    {{ item.wished_product.name|truncatechars:20 }}
                                </a>
                                <a href="{% url 'product_detail' item.wished_product.id %}" class="text-decoration-none text-link d-none d-sm-inline">
                                    {{ item.wished_product.name }}
                                </a>
                            </div>
                            <div class="col-2">
                                <p class="my-0 small text-muted">£{{ item.wished_product.product_price }}</p>
                            </div>
                            <!-- Go to product detail page to add the item to bag -->
                            <div class="col-4 col-sm-2 text-center">
                                <a href="{% url 'product_detail' item.wished_product.id %}" class="btn button-paper my-2">Buy</a>
                            </div>
                            <!-- Remove the product from the wishlist -->
                            <div class="col-1 text-left">
                                <a href="{% url 'wishlist' item.wished_product.id %}" aria-label="remove product from wishlist" class="text-danger delete-link">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <p>There is nothing on your wishlist... yet!</p>
                    <a class="btn button-paper text-uppercase" href="{% url 'products' %}" role="button">View Products</a>
                    {% endif %}
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <!-- Default delivery information -->
            <div class="col-12 col-lg-6 mb-5">
                <h6 class="mb-4">Default Delivery Information</h6>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn button-paper text-uppercase float-right mt-3">Update Information</button>
                </form>
            </div>
            <hr class="d-lg-none">
            <div class="col-12 col-lg-6 mb-5">
                <!-- Display user's reviews if any -->
                <div>
                    <h6 class="mb-4">My reviews</h6>
                    {% if reviews %}
                        {% for review in reviews %}
                        <div class="row">
                            <div class="col-4 col-sm-2 fw-bold">
                                <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none text-link">
                                    {{ review.product|truncatechars:20 }}
                                </a>
                            </div>
                            <div class="col-4 col-sm-3">
                                {{ review.created_on|date:'d M Y' }}
                            </div>
                            <div class="col-4 col-sm-3">
                                {{ review.review_title|truncatechars:30 }}
                            </div>
                            <div class="d-none d-sm-block col-sm-4">
                                {{ review.review_content|truncatechars:100 }}
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    {% else %}
                        <p>You have not yet reviewed any products.</p>
                    {% endif %}
                </div>
                <hr>
                <!-- Order history -->
                <div>
                    <h6 class="mb-4">Order History</h6>
                    {% for order in orders %}
                    <div class="row mb-3">
                        <div class="col-4 col-sm-3">
                            <strong>
                                <a href="{% url 'order_history' order.order_number %}" 
                                title="{{ order.order_number }}"
                                class="text-link text-decoration-none">
                                {{ order.order_number|truncatechars:6 }}
                                </a>
                            </strong>
                        </div>
                        <div class="col-4 col-sm-3">
                            {{ order.date|date:'d M Y' }}
                        </div>
                        <div class="d-none d-sm-inline col-4">
                            {% for item in order.lineitems.all %}
                                <div class="small">
                                    {{ item.product.name }} x{{ item.quantity }} - 
                                    <a href="{% url 'product_detail' item.product.id %}" class="text-decoration-none text-link">Review</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-4 col-sm-2">
                            £{{ order.grand_total }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}">
    </script>
{% endblock %}