/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

main {
    padding-top: 154px;
}

header {
    overflow: hidden;
    background-color: #f7f6f5;
    padding-bottom: 20px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
}

/* Home page */
.jumbotron {
    background: url('/media/woollen-blanket.jpg') no-repeat center center/cover;
    min-width: 100%;
    height: 60vh;
}

.jumbotron-content {
    /* background-color:rgb(236, 228, 217);
    opacity: .7; */
    border-radius: 5px;
    padding-top: 20vh;
    color: rgb(236, 228, 217);
}

.jumbotron-content > a {
    display: block;
    width: 130px;
    margin: 30px auto;
    background-color: rgb(236, 228, 217);
}

/* Products page */

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 20px;
    left: 95%;
    margin-right: 10px;
}

.btt-link,
.update-qty,
.remove-item  {
    cursor: pointer;
}

.update-qty {
    
}

/* Product detail page */
.product-img {
    width: 60vw;
    margin: 0 auto;
}

/* Screens larger than 768px */
@media screen and (min-width: 768px) {
    main {
        padding-top: 194px;
    }
    .product-img {
        width: 400px;
    }
}

/* Screens larger than 992px */
@media screen and (min-width: 992px) {
    main {
        padding-top: 178px;
    }
}