/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #F7F6F3;
    --button: #F5F2E1;
    --highlight-clay: #D9A37E;
    --highlight-gray: #B2A99A;
    --accent-green: #7D7F47;
    --accent-orange: #C56F3A;
    --text-charcoal: #3C3C3C;
  }

/* General */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Merriweather, serif;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-link {
    color: var(--accent-orange);
}

main {
    padding-top: 154px;
    /* Main section to take up any leftover space and to push footer down */
    flex: 1 0 auto;
}

header {
    overflow: hidden;
    background-color: var(--background);
    padding-bottom: 20px;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    min-height: 10vh;
    z-index: 9999;
}

/* Footer */
.footer {
    background-color: var(--background);
}

.footer h6 {
    color: var(--accent-orange);
}

.footer i {
    color: var(--accent-orange);
    font-size: 26px;
}

.footer i:hover {
    cursor: pointer;
}

/* ----------------------------------------Home */

.products-container {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }

/* ----------------------------------------Buttons */

/* From https://codepen.io/fabiocberg/pen/wvqpXqg */
.button-paper {
    align-self: center;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: var(--text-charcoal);
    background-color: var(--button);
    cursor: pointer;
    display: inline-block;
    font-family: Quicksand, sans-serif;
    font-size: .8rem;
    font-weight: bold;
    line-height: 23px;
    outline: none;
    padding: .70rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-paper:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

/* Bootstrap toasts */

.message-container {
    max-width: 100vw;
    position: fixed;
    top: 72px;
    right: 0;
    z-index: 99999999999;
    background-color: #fff;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}
.arrow-secondary {
    border-bottom-color: #6c757d !important;
}
.arrow-success {
    border-bottom-color: #28a745 !important;
}
.arrow-danger {
    border-bottom-color: #dc3545 !important;
}
.arrow-warning {
    border-bottom-color: #ffc107 !important;
}
.arrow-info {
    border-bottom-color: #17a2b8 !important;
}
.arrow-light {
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark {
    border-bottom-color: #343a40 !important;
}
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Home page */

.jumbotron {
    background: url('/media/woollen-blanket.jpg') no-repeat center center/cover;
    min-width: 100%;
    height: 80vh;
}

.jumbotron-content {
    border-radius: 5px;
    color: var(--button);
    vertical-align: middle;
}

.jumbotron-content > a {
    display: block;
    width: 150px;
    margin: 30px auto;
    background-color: var(--button);
}

.jumbotron-arrow {
    display: block;
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 100;
    cursor:pointer;
    font-size: 60px;
    color: var(--button);
  }

  .jumbotron-arrow:hover {
    transform: translateY(16px);
    color: var(--highlight-clay);
  }

/* ---------------------------------- Products */

.badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 20px;
    left: 95%;
    margin-right: 10px;
}

.btt-link,
.update-qty,
.remove-item  {
    cursor: pointer;
}

/* Product detail page */
.product-img {
    width: 60vw;
    margin: 0 auto;
}

.wishlist-link,
.review-link {
    color: var(--highlight-clay);
}

.wishlist-link:hover,
.review-link:hover {
    color: var(--accent-orange);
}

.qty-form {
    width: 150px;;
}

/* Product form */
.product-form-field {
    color: #000;
    border: 1px solid ;
    margin-bottom: 10px;
    border-radius: 0px;
}

.modal-dialog {
    z-index: 999999999;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.rating-icon {
    color: var(--highlight-clay);
}

/* Containers */

.login-container,
.edit-container,
.coupon-container,
.product-admin-container {
    width: 90%;
    max-width: 800px;
    margin: 5vh auto 13vh;
    padding-bottom: 30px;
    border-radius: 5px;
}

/* 404 page */

.sheep-404 {
    max-width: 100vw;
}

/* Media Queries */

/* Screens larger than 576px */
@media screen and (min-width: 576px) {
    .message-container {
        top: 80px;
        right: 15px;
    }
    .sheep-404 {
        max-width: 500px;
    }
}

/* Screens larger than 768px */
@media screen and (min-width: 768px) {
    main {
        padding-top: 194px;
    }
    .product-img {
        width: 400px;
    }

}

/* Screens larger than 992px */
@media screen and (min-width: 992px) {
    main {
        padding-top: 178px;
    }

    /* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
    .card-img {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}