/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

main {
    padding-top: 154px;
}

header {
    overflow: hidden;
    background-color: #f7f6f5;
    padding-bottom: 20px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
}

/* Bootstrap toasts */
.message-container {
    max-width: 100vw;
    position: fixed;
    top: 72px;
    right: 0;
    z-index: 99999999999;
}
/* .custom-toast {
    overflow: visible;
} */
.toast-capper {
    height: 2px;
}

/* Toasts */

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}
.arrow-secondary {
    border-bottom-color: #6c757d !important;
}
.arrow-success {
    border-bottom-color: #28a745 !important;
}
.arrow-danger {
    border-bottom-color: #dc3545 !important;
}
.arrow-warning {
    border-bottom-color: #ffc107 !important;
}
.arrow-info {
    border-bottom-color: #17a2b8 !important;
}
.arrow-light {
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark {
    border-bottom-color: #343a40 !important;
}
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Home page */
.jumbotron {
    background: url('/media/woollen-blanket.jpg') no-repeat center center/cover;
    min-width: 100%;
    height: 60vh;
}

.jumbotron-content {
    /* background-color:rgb(236, 228, 217);
    opacity: .7; */
    border-radius: 5px;
    padding-top: 20vh;
    color: rgb(236, 228, 217);
}

.jumbotron-content > a {
    display: block;
    width: 130px;
    margin: 30px auto;
    background-color: rgb(236, 228, 217);
}

/* Products page */

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 20px;
    left: 95%;
    margin-right: 10px;
}

.btt-link,
.update-qty,
.remove-item  {
    cursor: pointer;
}

/* Product detail page */
.product-img {
    width: 60vw;
    margin: 0 auto;
}

/* Media Queries */

/* Screens larger than 576px */
@media screen and (min-width: 576px) {
    .message-container {
        top: 80px;
        right: 15px;
    }
}

/* Screens larger than 768px */
@media screen and (min-width: 768px) {
    main {
        padding-top: 194px;
    }
    .product-img {
        width: 400px;
    }
}

/* Screens larger than 992px */
@media screen and (min-width: 992px) {
    main {
        padding-top: 178px;
    }
}