{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row py-5">
        <div class="col text-center">
            <h1>Oops! Page not found</h1>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-12 col-md-6 col-xl-4 offset-xl-2">
            <img src="{{ MEDIA_URL }}404-sheep.webp" class="sheep-404" alt="Image of a friendly sheep looking towards the camera">
        </div>
        <div class="col-12 col-md-6">
            <p class="mb-3">Sorry, we cannot seem to find the page that you are looking for!</p>
            <p>Let me take you somewhere more interesting...</p>
            <div class="mx-auto my-3">
                <a href="{% url 'home' %}" class="btn button-paper">Home</a>
                <a href="{% url 'products' %}" class="btn button-paper">Products</a>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}