{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<div class="row">
    <div class="col-md-8 mt-5 offset-md-2">
        <h3>{% trans "Login" %}</h3>
        <p>{% blocktrans %}Welcome back to Woolly. To view your profile, please log in. If
            you have not created an account yet, then <a class="link text-decoration-none text-link" href="{{ signup_url }}">register</a>
            first.{% endblocktrans %}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn button-paper mt-3" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>
<div class="col-md-6 mt-3 offset-md-2">
    <a href="{% url 'account_reset_password' %}" class="btn button-paper">Forgot your password?</a>
</div>

{% endblock %}