{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Admin Dashboard</h2>
            <hr class="w-100 mb-3">
        </div>
    </div>
    <!-- Add product and add coupon links -->
    <div class="row d-flex justify-content-center my-3">
        <div class="col-6 col-md-3 text-center"><a href="{% url 'add_product' %}" class="btn button-paper">Add a product</a></div>
        <div class="col-6 col-md-3 text-center"><a href="{% url 'add_coupon' %}" class="btn button-paper">Add a coupon</a></div>
    </div>
    <hr>
    <!-- List of coupon codes -->
    <div class="row mt-5 text-center" id="coupons_list">
        <h5>Coupon Codes</h5>
        <div class="col-12">
            <table class="w-100 w-sm-75 w-md-50">
                <tr>
                    <th class="mr-5"><small class="text-muted">Code:</small></th>
                    <th class="mr-2"><small class="text-muted">Discount amount:</small></th>
                    <th class="mr-2"><small class="text-muted">Valid:</small></th>
                </tr>
                {% for coupon in coupon_codes %}
                    <tr>
                        <td class="mr-2">{{ coupon.coupon_code }}</td>
                        <td class="mr-2">£{{ coupon.discount_amount }}</td>
                        <td class="mr-2">{% if coupon.active %}Yes{% else %}No{% endif %}</td>
                        {% if coupon.active %}
                            <td class="mr-2 d-sm-none">
                                <a href="{% url 'deactivate' coupon.coupon_code %}" class="text-link text-decoration-none" aria-label="deactivate coupon code">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                            <td class="mr-2 d-none d-sm-inline">
                                <a href="{% url 'deactivate' coupon.coupon_code %}" class="text-link text-decoration-none">Deactivate</a>
                            </td>
                        {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <hr class="d-sm-none">
    <!-- List of all products -->
    <div class="row mt-5 text-center" id="products_list">
        <h5>Products</h5>
        <div class="col-12">
            <table class="w-100 w-sm-75 w-md-50">
                <tr>
                    <th class="mr-5"><small class="text-muted">Name:</small></th>
                    <th class="mr-2"><small class="text-muted"># in stock:</small></th>
                    <th class="mr-2"><small class="text-muted">Price:</small></th>
                    <th class="mr-2"><small class="text-muted">On sale?:</small></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td class="mr-2"><a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-link fw-bold">{{ product.name }}</a></td>
                        <td class="mr-2">{{ product.stock_amount }}</td>
                        <!-- comes from product_price property of Product model -->
                        <td class="mr-2">£{{ product.product_price }}</td>
                        <td class="mr-2">{% if product.on_sale %}Yes{% else %}No{% endif %}</td>
                        <td class="mr-2"><a href="{% url 'edit_product' product.id %}" class="text-decoration-none text-link">Edit</a></td>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr class="d-sm-none">
    <!-- List of all orders -->
    <div class="row my-5 text-center" id="orders_list">
        <h5>Orders</h5>
        <div class="col-12">
            <table class="w-100 w-sm-75 w-md-50">
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" 
                            title="{{ order.order_number }}"
                            class="text-link text-decoration-none">
                            {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td> {{ order.date|date:'d M Y' }}</td>
                        <td class="d-none d-sm-inline">
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li class="small">
                                    {{ item.product.name }} x{{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>£{{ order.grand_total }}</td>
                    </tr>
                {% endfor %}
            </table>   
        </div>
    </div>
</div>
{% endblock %}