{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Admin Dashboard</h2>
            <hr class="w-100 mb-3">
        </div>
    </div>
    <a href="{% url 'add_product' %}" class="btn button-paper">Add product</a>
    <div class="row mt-3">
        <h6>Products</h6>
        <div class="col-12">
            <table class="w-100 w-sm-75 w-md-50">
                <tr>
                    <th class="mr-5"><small class="text-muted">Name:</small></th>
                    <th class="mr-2"><small class="text-muted"># in stock:</small></th>
                    <th class="mr-2"><small class="text-muted">Price:</small></th>
                    <th class="mr-2"><small class="text-muted">On sale?:</small></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td class="mr-2">{{ product.name }}</td>
                        <td class="mr-2">{{ product.stock_amount }}</td>
                        <!-- comes from product_price property of Product model -->
                        <td class="mr-2">{{ product.product_price }}</td>
                        <td class="mr-2">{% if on_sale %}Yes{% else %}No{% endif %}</td>
                        <td class="mr-2"><a href="{% url 'edit_product' product.id %}" class="text-decoration-none">Edit</a></td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}