{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Woolly - Nordic inspired ethical wool products</title>
    <!-- Description -->
    <meta 
      name="description"
      content="Minimalist, sustainable and ethical wool products with Nordic-inspired design hand-made in London.">
    <!-- Keywords -->
    <meta
      name="keywords"
      content="sustainable wool products, ethical clothing, high-quality Nordic design, Nordic wool blanket, 
                minimalist wool blanket, warm woollen clothing, Nordic wool, handmade wool clothing">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JQuery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e56b74d13c.js" crossorigin="anonymous"></script>
    <!-- Stripe. Included in the base.html to allow advanced fraud detection features to work -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </head>
  <!-- Body -->
  <body>
    <header class="pt-3">
        {% include 'includes/navbar.html' %}
    </header> 
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- Main content -->
    <main>
      {% block content %}
      <!-- Content of the page -->
      {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="footer container-fluid pt-3">
      <div class="row text-center">
        <!-- Social Media links -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-2">
          <h6 class="text-uppercase text-center mb-3">Let's stay in touch!</h6>
          <a href="https://www.facebook.com/"
              target="_blank" 
              rel="nofollow"
              aria-label="Visit our Facebook page (opens in a new tab)"
              class="text-decoration-none">
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
          </a>
          <p class="d-inline ms-3">Say hi to us on Facebook</p>
          <br class="d-md-none">
          <hr class="d-md-none">
        </div>
        <!-- Newsletter -->
        <div class="col-12 col-md-6 mt-2 d-flex flex-column align-items-center">
          <p>Sign up to our newsletter to receive some woolly good news!</p>
          <form method="POST" action="{% url 'subscribe' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input class="w-100 newsletter-email-input" type="text" name="subscribe" placeholder="Email address" 
                    aria-label="Add your email address to subscribe to our newsletter">
            <div class="my-2">
                <button class="btn button-paper" type="submit">Subscribe!</button>
            </div>
          </form>
        </div>
        <!-- Copyright -->
        <div class="col-12 text-center pt-2">
          <p>
            <small>Woolly Copyright &copy; 2024 &nbsp; | &nbsp;
              <a href="https://www.termsfeed.com/live/b8793ce4-e6c6-4409-a272-8cf461a0e16f"
                target="_blank"
                rel="nofollow"
                class="text-link text-decoration-none">
                Privacy Policy 
              </a>
          </small></p>

        </div>
      </div>
    </footer>

    {% block postloadjs %}
      <script type="text/javascript">
        let toastElList = [].slice.call(document.querySelectorAll('.toast'))
        let toastList = toastElList.map(function (toastEl) {
          let option = {
            animation: true,
            autohide: false,
          }
          new bootstrap.Toast(toastEl, option).show();
        })
      </script>
    {% endblock %}

  </body>
</html>
