{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4 coupon-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h3>Add a Coupon</h3>
            <hr class="w-100 mb-3">
        </div>
    </div>
    <!-- Add a coupon form -->
    <div class="row">
        <form action="{% url 'add_coupon' %}" method="POST" id="coupon-form">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right mt-3">
                <a href="{% url 'dashboard' %}" class="btn button-paper rounded-0">Cancel</a>
                <button type="submit" class="btn button-paper" aria-label="add a new coupon code">Add Coupon</button>   
            </div>
            
        </form>
    </div>
</div>

{% endblock %}