{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            <hr class="w-100 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="container-fluid d-flex justify-content-center">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center">
                    <!-- Sort selector -->
                    <div class="sort-select-wrapper">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm mr-5 rounded border {% if current_sorting != 'None_None' %}border-blue{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)
                            </option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)
                            </option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                Category (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center">
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- List of Products -->
    <div class="product-container text-center mx-4">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <div class="card h-100">
                        <!-- On sale badge -->
                        {% if product.on_sale %}
                            <div class="badge bg-light text-dark">Sale</div>
                        {% endif %}
                        <!-- Product image -->
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                    alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <!-- Product name -->
                        <div class="card-body pb-1 bg--white">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <!-- Product price -->
                                    {% if product.on_sale %}
                                        <p class="lead mb-0 pb-1 text-left font-weight-bold"><s>£{{ product.price }}</s> £{{ product.sale_price }}</p>
                                    {% else %}
                                        <p class="lead mb-0 pb-1 text-left font-weight-bold">£{{ product.price }}</p>
                                    {% endif %}
                                    <!-- Average rating -->
                                    {% if product.avg_rating %}
                                        <small class="text-muted"><i class="fas fa-star rating-icon"></i>&nbsp {{ product.avg_rating|floatformat:1 }} / 5 </small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm border rounded-0">
    <a class="btt-link text-dark d-flex h-100">
        <i class="fas fa-arrow-up my-auto mx-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
        
        <script type="text/javascript">
            $('#sort-selector').change(function() {
                var selector = $(this);
                var currentUrl = new URL(window.location);
                var selectedVal = selector.val();
                if (selectedVal != "reset"){
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];
                    currentUrl.searchParams.set("sort", sort);
                    currentUrl.searchParams.set("direction", direction);
                    window.location.replace(currentUrl);
                } else {
                    currentUrl.searchParams.delete("sort");
                    currentUrl.searchParams.delete("direction");
                    window.location.replace(currentUrl);
                }
            })
        </script>
{% endblock %}